# Visual Studio Dateien
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Betriebssystem Dateien
Thumbs.db
.DS_Store

# Node.js / npm (falls du npm benutzt)
node_modules/

# Log-Dateien
*.log

# Temporäre Dateien
*.tmp
*.temp

# Große Assets, die nicht hochgeladen werden sollen (optional)
assets/video/